body{
    background-image: url("images/dynamic-style.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Gelasio', serif;
    
    
}

a {
    background: #F5F5DC;
    color: #800020;
    

}
h1{
    color: #800020;
    font-family: 'Merriweather', serif;
    font-size: 20px;
}
img{
    float: right;
    border: 10px;
    margin: 20px;
}
h2{
    color: #800020;
    font-family: 'Merriweather', serif;

}
footer{
    color: #800020;
    font-family: 'Gelasio', serif;
}
